go 1.24.0

toolchain go1.24.11

use (
	./golang-clean-architecture
	./golang-concurrency-patterns
	./golang-config-hot-reload
	./golang-ebpf-monitoring
	./golang-feature-toggle-poc
	./golang-generics-demo
	./golang-grpc-kafka-demo
	./golang-otel-demo
	./golang-resilience-demo
	./golang-watermill-demo
)
